<aside>
    <h2>Neo-tokyo-2k19</h2>

    <ul>
        <li>
            <p class="class">Home</p>
        </li>
        <li>
            <p class="class">Watchlist</p>
        </li>
        <li>
            <p class="class">Browse</p>
        </li>
        <li>
            <p class="class">Coming Soon</p>
        </li>
        <li>
            <p class="class">Dubbed Anime</p>
        </li>
        <li>
            <p class="class">Subbed Anime</p>
        </li>
    </ul>

    <div>
        <a href="#">Log Out</a>
    </div>
</aside>