:root {
  --primary: #880808;
  --text: #f8f8ff;
  --primary-dark: #4A0404;
}



body{
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(26, 25, 25);
  color: aliceblue;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}



/*nav bar, mobile first*/

.nav-bar{
  background: rgba( 41, 40, 40, 0.04 );
  backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
  color: var(--text);
  top: 0;
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 8vh;
  width: 100vw;
  z-index: 50;
}

.logo{
  display: flex;
  align-items: center;
  margin: 25px 10px 5px;
  font-weight: bolder;
  padding:4px;
  cursor: pointer;
  border-radius: 4%;
  color: var(--text);
  background-color: var(--primary-dark);
}

.search-bar{
  margin-top: 11%;
  margin-right: 20px;
  background-color: rgb(15, 15, 15);
  color: var(--text);
  width: 170px;
  height: 28px;
  border: none;
  border-radius: 4px;
}





.search-bar:focus, input:focus{
  outline: none;
}

.search-icon{
  position: absolute;
  margin-top: 13px;
  border-radius: 50%;
  right: 0;
  margin-right: 12%;
  font-size: 28px;
  padding: 10px;
  cursor: pointer;
}

.search-icon:hover{
  background-color: rgba( 41, 40, 40, 1 );
}

.mobile-menu{
  margin-right: 15px;
  margin-top: 20px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
  background-color: var(--primary-dark);
  transition: 0.2s;
}

.close-icon{
  top: 0;
  position: absolute;
  right: 0;
  margin: 10px;
  font-size: 25PX;
  cursor: pointer;
}

.mobile-menu:hover{
  transform: scale(1.1);
}

.mobile-menu-list{
  list-style: none;
  background-color: var(--primary-dark);
  position: absolute;
  margin-top: 5px;
  right: 0;
  padding: 10% 5%;
  border-radius: 4%;
}

.mobile-menu-list li{
  margin: 10px;
}

.mobile-menu-list a{
  text-decoration: none;
  color: var(--text);
}




/*manga container*/

.mangaContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 10;
}

.mangaContainer-title{
  padding: 10px;
  border-radius: 4%;
  font-size: 25px;
  margin: 40px auto 20px;
}

.manga{
  
  width: 95%;
  display: flex;
  height: 240px;
  margin: 10px;
  border-radius: 2%;
  cursor: pointer;
  transition: 0.3s;
}

.manga:hover{
  transform: scale(1.03);
  background-color: rgba( 151, 151, 151, 0.4 );;
}



.mangaList{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.manga-title{
  text-align: center;
  width: 200px;
  font-size: 18px;
  margin: 12% auto 8%;
  padding: 5px ;
}

.chapter{
  margin-left: 55%;
  position: absolute;
  margin-top: 45%;
  color: rgba(248, 248, 255, 0.5);
}
 

 img{
  width: 140px;
  height: 190px;
  margin-left: 15%;
  cursor: pointer;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.8) 5.95px 5.98px 10.6px;
}

.link{
  color: var(--primary);
  display: flex;
  justify-content: center;
  margin: 10%;
}
.error-msj{
  margin: 30% 10% 30% 20%;
  background-color: var(--primary-dark);
  padding: 10px;
  border-radius: 4px;
}

/*slide*/

.latest-title{
  margin-top: 23%;
  margin-left: 5%;
}

.main-section-container {
  height: 320px;
  margin: auto;
  position: relative;
  width: 99%;
  display: grid;
  place-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 10;
}

.slider-track {
  margin-top: 3%;
  display: flex;
  position: relative;
  height: 280px;
  width: calc(290px*6);
  animation: scroll 20s linear infinite;
  overflow-y: hidden;
}

.slider-track:hover {
  animation-play-state: paused;
}


.slide-manga{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2;
  padding: 15px 15px;
  border-radius: 4%;
  overflow-x: hidden;
}


@keyframes scroll {
  0% {
      transform: translatex(0);
  }
  90% {
      transform: translatex(calc(-115px*6));
  }
}

/*404*/

.error{
  margin: 55% auto;
  margin-left: 20%; 
}

.error span{
  color: var(--primary);
}

/*pages*/

/*popular*/

.popularContainer-title{
  margin: 30% auto 10%;
}

/*search*/

.search-title{
  margin-top: 28%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.no-more-results{
  padding: 5%;
  display: flex;
  justify-content: center;
  margin: 5%;
}

/*genre page*/

.genre-title{
  margin-top: 30%;
  margin-left: 10%;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #000000;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:var(--text);
  cursor:pointer;
  font-size: 1em;
}
select::-ms-expand {
  display: none;
}
.select {
  position: absolute;
  margin-top: -10%;
  display: flex;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: var(--primary);
}