:root {
  --primary: #880808;
  --text: #f8f8ff;
  --primary-dark: #4A0404;
}



body{
  font-family: 'Ubuntu', sans-serif;
  color: aliceblue;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}



/*nav bar, mobile first*/

.nav-bar{
  background-color: var(--primary);
  color: var(--text);
  top: 0;
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 8vh;
  width: 100vw;
  z-index: 50;
}

.logo{
  display: flex;
  align-items: center;
  margin: 15px 10px;
  font-weight: bolder;
  padding:4px;
  cursor: pointer;
  border-radius: 4%;
  background-color: var(--primary-dark);
}

.mobile-menu{
  margin-right: 15px;
  margin-top: 25px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
  background-color: var(--primary-dark);
  transition: 0.2s;
}

.close-icon{
  top: 0;
  position: absolute;
  right: 0;
  margin: 10px;
  font-size: 25PX;
  cursor: pointer;
}

.mobile-menu:hover{
  transform: scale(1.1);
}

.mobile-menu-list{
  list-style: none;
  background-color: var(--primary-dark);
  position: absolute;
  margin-top: 5px;
  right: 0;
  padding: 10% 5%;
  border-radius: 4%;
}

.mobile-menu-list li{
  margin: 10px;
}

.mobile-menu-list a{
  text-decoration: none;
  color: var(--text);
}

/*show case img, and elements*/



.slider-item {
  text-align: center;
  width: 100%;
}

.slider-item img {
  height: 40vh;
}

.thumbs{
  display: none;
}

/*manga container*/

.mangaContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -80px;
  background: rgba( 0, 0, 0, 0.7 );
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 10;
}

.mangaContainer-title{
  padding: 10px;
  background-color: var(--primary-dark);
  border-radius: 4%;
  margin: 20px;
}

.manga{
  
  width: 300px;
  height: 350px;
  margin: 10px;
  border: 1px solid var(--text);
  border-radius: 2%;
  cursor: pointer;
  transition: 0.3s;
}

.manga:hover{
  transform: scale(1.03);
  background-color: rgba( 151, 151, 151, 0.4 );;
}



.mangaList{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.manga-title{
  text-align: center;
  font-size: 15px;
  margin-top: 25px 10px 0;
  padding: 5px 15px;
}
 

img{
  width: 200px;
  height: 200px;
}

.link{
  color: var(--primary);
  display: flex;
  justify-content: center;
  margin: 10%;
}
