aside {
    border: 1px solid #000;
    right: 0;
    width: 28%;
    padding: 1rem 2rem;
    height: 100%;
    position: fixed;
    background-color: var(--sidebar-bg);
    color: var(--text);
}