aside {
    border: 1px solid #000;
    right: 0;
    width: 28%;
    padding: 1rem 2rem;
    height: 100%;
    position: fixed;
    background-color: var(--sidebar-bg);
    color: var(--text);
}

.icons {
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
}

.icons i {
    font-size: 25px;
}

.icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.sub-title {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-title h2 {
    color: white;
}

.sub-title span {
    color: var(--main-text);
    font-size: .8rem;
    border-bottom: 1px solid var(--main-text);
}