<aside>
    <div class="icons">
        <i class="bx bxs-moon"></i>
        <i class="bx bxs-bell"></i>
        <img src="https://www.fayerwayer.com/resizer/j5t99xUsygsnO8VAhqzTEvzC9l8=/800x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/55QHEOQRQBEPTF5LRJK57MDEP4.jpg" alt="user">
    </div>

    <div class="sub-title">
        <h2>Genre</h2>
        <span>More <i class="bx bx-plus"></i></span>
    </div>

    <div class="genre-container">
        <div class="genre1">
            <div class="layer">
                <p>Horror</p>
            </div>
        </div>
        <div class="genre2">
            <div class="layer">
                <p>Thriller</p>
            </div>
        </div>
        <div class="genre3">
            <div class="layer">
                <p>Romance</p>
            </div>
        </div>
        <div class="genre4">
            <div class="layer">
                <p>Drama</p>
            </div>
        </div>
    </div>

</aside>