main {
    color: var(--text);
}

.top {
    padding: 1rem 0 0;
    gap: 18rem;
    display: flex;
}

.search-input {
    padding: .3rem .4rem;
    background-color: var(--sidebar-bg);
    display: flex;
    align-items: center;
    gap: .3rem;
    border-radius: .2rem;
}

.search-input input {
    background-color: transparent;
    border: none;
    outline: none;
}

.search-input input::placeholder {
    color: var(--text);
}

.navbar {
    display: flex;
    gap: 2rem;
}

.main-bg {
    background-image: url("/assets/images/main-bg.jpg");
    background-position: center;
    background-size: cover;
    object-fit: scale-down;
    background-repeat: no-repeat;
    margin: 3rem 0 1rem;
    height: 44vh;
    width: 62%;
}

img {
    width: 250px;
}