main {
    color: var(--text);
}

.top {
    padding: 1rem 0 0;
    gap: 18rem;
    display: flex;
}

.search-input {
    padding: .3rem .4rem;
    background-color: var(--sidebar-bg);
    display: flex;
    align-items: center;
    gap: .3rem;
    border-radius: .2rem;
}

.search-input input {
    background-color: transparent;
    border: none;
    outline: none;
}

.search-input input::placeholder {
    color: var(--text);
}

.navbar {
    display: flex;
    gap: 2rem;
}

img {
    width: 250px;
}