<main class="main">

    <div class="top">

        <div class="navbar">
            <p class="highlighted">Tv shows</p>
            <p>Movies</p>
            <p>Popular</p>
        </div>

        <div class="search-input">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="search">
        </div>
    </div>

    <div class="main-bg">

    </div>

    <div *ngIf="titleAndThumbnailData.length > 0">
        <h2>Top Tv shows</h2>

        <div class="img-container">
            <div *ngFor="let data of titleAndThumbnailData; let i = index">
                <img src="{{ data.thumbnail }}" alt="thumbnail {{ i }}" (error)="handleImageError(data)" />
            </div>
        </div>
    </div>

    <div *ngIf="topAiring.length > 0">
        <h2>Top Airing</h2>

        <div class="img-container">
            <div *ngFor="let data of topAiring; let i = index">
                <img src="{{ data.thumbnail }}" alt="thumbnail {{ i }}" (error)="handleImageError(data)" />
            </div>
        </div>
    </div>

</main>