<main class="main">

    <div class="top">

        <div class="navbar">
            <p class="highlighted">Tv shows</p>
            <p>Movies</p>
            <p>Popular</p>
        </div>

        <div class="search-input">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="search">
        </div>
    </div>

    <div class="main-bg">
        <div class="layer">
            <h2>Demon Slayer: Kimetsu no yaiba</h2>

            <p>It follows teenage Tanjiro Kamado, who strives to become a Demon Slayer after his family was slaughtered and his younger sister, Nezuko, is turned into a demon.</p>

            <h4>#5 TV show Today</h4>

            <p><span>Genre:</span> Sci-fi, and Fantasy anime, Action anime</p>

            <p><span>This show is:</span> Dark, Exciting</p>

            <div class="btn-container">
                <button class="btn-main">Play <i class="bx bx-play"></i></button>
                <button class="btn-alt">Watchlist <i class="bx bx-add-to-queue"></i></button>
            </div>
        </div>
    </div>

    <div *ngIf="titleAndThumbnailData.length > 0">
        <h2>Top Tv shows</h2>

        <div class="img-container">
            <div *ngFor="let data of titleAndThumbnailData; let i = index">
                <img src="{{ data.thumbnail }}" alt="thumbnail {{ i }}" (error)="handleImageError(data)" />
            </div>
        </div>
    </div>

    <div *ngIf="topAiring.length > 0">
        <h2>Top Airing</h2>

        <div class="img-container">
            <div *ngFor="let data of topAiring; let i = index">
                <img src="{{ data.thumbnail }}" alt="thumbnail {{ i }}" (error)="handleImageError(data)" />
            </div>
        </div>
    </div>

</main>