<main class="main">

    <div class="top">

        <div class="navbar">
            <p>Tv shows</p>
            <p>Movies</p>
            <p>Popular</p>
        </div>

        <div class="search-input">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="search">
        </div>
    </div>

    <div *ngIf="titleAndThumbnailData.length > 0">
        <h2>Most popular right now</h2>

        <div *ngFor="let data of titleAndThumbnailData; let i = index">
            <p>{{ data.title }}</p>
            <img src="{{ data.thumbnail }}" alt="thumbnail {{ i }}" (error)="handleImageError(data)" />
        </div>
    </div>

</main>