main {
    color: var(--text);
}

.top {
    padding: 1rem 0 0;
    gap: 20rem;
    display: flex;
}

.top input {
    padding: .3rem .4rem;
    outline: none;
    border: none;
    background-color: var(--sidebar-bg);
    border-radius: .2rem;
}

.top input::placeholder {
    color: var(--text);
}

.navbar {
    display: flex;
    gap: 2rem;
}

img {
    width: 250px;
}